<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="DynectSOAP">
                    <security mode="Transport" />
                </binding>
                <binding name="DynectSOAP1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://api2.dynect.net/SOAP/" binding="basicHttpBinding"
                bindingConfiguration="DynectSOAP" contract="DynnetWSApi.Dynect"
                name="DynectSOAP" />
        </client>
    </system.serviceModel>
</configuration>